    @font-face {
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('Dubai-Light.woff') format('woff');
    }
/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family:'Dubai Light';
   font-size: 1em;
   color: white;
   background-color:#EFE5DC;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: #EFE5DC;
} 
/* Layout */
.layout {

   width: 100%;
   min-height: 100vh;
}

.layout__content {
   align-items: center;

}

/* Sidebar */
.sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 4em;
   background: #C1A19A;
}

.sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em ;
   color: #716969;
   background-color: #C1A19A;
}

.sidebar__nav {
   position: fixed;
   top: 0;
   right: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background-color: #C1A19A;
   color:#716969;
}

.sidebar__nav:hover,
.sidebar__nav:focus,
.sidebar__trigger:focus + .sidebar__nav,
.sidebar__trigger:hover + .sidebar__nav {
   right: 0;
}

.sidebar__nav ul {
   position: absolute;
   top: 4em;
   right: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.sidebar__nav ul li {
   width: 100%;
}

.sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.sidebar__nav-link em {
   position: absolute;
   top: 50%;
   right: 4em;
   transform: translateY(-50%);
}

.sidebar__nav-link:hover {
   background: #716969;
}

.sidebar__nav-link > i {
   position: absolute;
   top: 0;
   right: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .layout__content {
      margin-right: 4em;
   }
   
   /* Sidebar */
   .sidebar__trigger {
      width: 4em;
   }
   
   .sidebar__nav {
      width: 4em;
      right:0;
   }
   
   .sidebar__nav:hover,
   .sidebar__nav:focus,
   .sidebar__trigger:hover + .sidebar__nav,
   .sidebar__trigger:focus + .sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .layout__content {
      margin-right: 15em;
   }
   
   /* Sidebar */
   .sidebar__trigger {
      display: none;
   }
   
   .sidebar__nav {
      width: 15em;
   }
   
   .sidebar__nav ul {
      top: 1.3em;
   }
}

@media (max-width: 530px) {
	.container-fluid .center{
		width: 100%;
		left: 0;
		margin: 10px 0;
		position: relative;
		top: 0;
		transform: none;
	}
}

.blog-card {
	background-color: whitesmoke;
	border-radius: 1px;
	box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
	min-height: 450px;
	max-height: auto;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 1.6%;
	box-shadow: 0 3px 7px -1px rgba(#000, .1);
	border-radius: 5px;
	line-height: 1.4;
	max-width: 80%;
	overflow: hidden;
}
@media (max-width: 580px) {
	.blog-card {
		min-height: 350px;
		max-height: auto;
		overflow: visible;
	}
}

.media {
	background-position: center;
	background-size: cover;
	height: 100%;
}

.card-body {
	color: #716969;
	height: 100%;
	padding: 30px 20px 50px;
}
@media (max-width: 530px) {
	.card-body{
		background-color: whitesmoke;
	}
}

.tagline {
	font-size: 8px;
	text-transform: uppercase;
}

.title {
	color: black;
	font-family: 'Dubai Light';
	font-size: 30px;
	font-weight: 400;
}

.divider {
	background: grey;
	height: 2px;
	margin: 25px auto;
	width: 40px;
}

.paragraph {
	font-weight: 300;
}
	
.fa:hover,.fa:focus {
		color: #E2D2CB;
		text-decoration: none;
	}

@media (max-width: 530px) {
	.col-xs-6 {
		width: 100%;
	}
}
footer {
	position: relative;
	z-index: -1;
	text-align: center;
	color: black;
	height: 0;
	margin-top: 2%; 
}
/* temporary table Style*/
#customers {
  font-family: 'Dubai Light';
  border-collapse: collapse;
  width: 70%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 5px;
}

#customers tr:nth-child(even){background-color: #EFE5DC;}

#customers tr:hover {background-color: #C1A19A;}

#customers th {
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #716969;
  color: white;
}
