html { scroll-behavior: smooth; } 
@font-face {
  font-family: 'Questv1';
  src: local('Questv1-Bold_0'),
       local('Questv1 Bold 0'),
        url("font/Questv1-Bold_0.otf") format("OpenType"),
        url("font/Questv1-Bold_0.woff") format("woff"),
        url("font/Questv1-Bold_0.woff2") format("woff2");}

/* button (cm/inch) Style*/
.buttonSwitch {
  background-color: #FFFFFF; 
  border: none;
  color: black;
  font-weight: normal;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  display: inline; 
  font-size: 16px;
  outline:none;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 88%;

}
.buttonSwitch:hover{
    background-color: rgba(243, 206, 59, 0.50) !important ;
}
/* Tabs (normal/short-long/petite-plus) Style*/
/* source (https://sharkcoder.com/blocks/tabs)*/
.warpper {
  display: flex;
  flex-direction: column;
  align-items: right;

}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background: #DDB715;
  display: inline-flex;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  font-family: Questv1; 
  font-size: small; 


}
.tab:hover {
  background: #F3CB3E;
}

.panels {
  background: none;
  min-height: 200px;
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
  overflow: hidden;

}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}
/*women tap style */
#wt1:checked ~ .panels #wtop,
#wt2:checked ~ .panels #petite_top,
#wt3:checked ~ .panels #plus_top,

#wd1:checked ~ .panels #dress,
#wd2:checked ~ .panels #petite_dress,
#wd3:checked ~ .panels #plus_dress,

#ws1:checked ~ .panels #skirt,
#ws2:checked ~ .panels #petite_skirt,
#ws3:checked ~ .panels #plus_skirt,

#wp1:checked ~ .panels #pants,
#wp2:checked ~ .panels #petite_pants,
#wp3:checked ~ .panels #plus_pants,

#mt1:checked ~ .panels #mtop,
#mt2:checked ~ .panels #long_top,
#mt3:checked ~ .panels #short_top {
   display: block;
}
#wt1:checked ~ .tabs #t_wt1,
#wt2:checked ~ .tabs #t_wt2,
#wt3:checked ~ .tabs #t_wt3,

#wd1:checked ~ .tabs #t_wd1,
#wd2:checked ~ .tabs #t_wd2,
#wd3:checked ~ .tabs #t_wd3,

#ws1:checked ~ .tabs #t_ws1,
#ws2:checked ~ .tabs #t_ws2,
#ws3:checked ~ .tabs #t_ws3,

#wp1:checked ~ .tabs #t_wp1,
#wp2:checked ~ .tabs #t_wp2,
#wp3:checked ~ .tabs #t_wp3,

#mt1:checked ~ .tabs #t_mt1,
#mt2:checked ~ .tabs #t_mt2,
#mt3:checked ~ .tabs #t_mt3 {
  background: #383836;
  color: #FFFFFF;
  border-right: 3px solid #F3BC3E;
  border-left: 3px solid #F3BC3E;
}

.tableContainer{
  min-height: 200px;
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
  overflow: hidden;
  padding: 1em;
}

table {
  font-family: Questv1;
  border-collapse: collapse;
  text-align: center;
  min-width: 5em;
  width: auto;
  margin-left:auto; 
  background-color: none ;  
  border-radius: 0.25em;
}
table th{
  font-size: medium;
}
table td, table th {
  border: none;
  padding: 7px;  
}

table tr:nth-child(even){
  background-color: #FFFFFF;
}
table tr:nth-child(odd){
  background-color: #DAD4D4;
}

table tr:hover {background-color:rgba(243, 206, 59, 0.40);}
table td:hover {background-color:#F3CE3B; font-weight: bold;}


table th {
  padding-top: 12px;
  padding-bottom: 15px;
  background-color: #383836;
  color: white;
}

